# site properties and page defaults
title: Velten Group
subtitle: Heidelberg University, COS & IWR
description: We are an interdisciplinary team of scientists located at Heidelberg University developing statistical methods and machine learning approaches to move from molecular data to biological insight
header: images/background.jpeg
footer: images/background.jpeg

# site social media and other links
links:
  email: britta.velten [at] cos.uni-heidelberg.de
  orcid: 0000-0002-8397-3515
  google-scholar: sJ2lkaAAAAAJ&hl
  github: velten-group
  twitter: brittavelten

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
