---
---

<<<<<<< HEAD
* {
  box-sizing: border-box;
  transition: none 0.2s;
=======
*,
::before,
::after {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
>>>>>>> template/main
}
