---
---

a {
  color: var(--primary);
<<<<<<< HEAD
  transition-property: color;
=======
  transition: color var(--transition);
>>>>>>> template/main
  overflow-wrap: break-word;
}

a:hover {
  color: var(--text);
}

a:not([href]) {
  color: var(--text);
}
