---
---

blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  border-left: solid 4px var(--light-gray);
}

<<<<<<< HEAD
blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
=======
blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
>>>>>>> template/main
  margin-bottom: 0;
}
